!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layouts">

<head>
    <meta charset="UTF-8">
    <title>Admin - TVMaze</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
</head>

<body class="bg-dark text-light">
    <div class="d-flex">
        <!-- Sidebar -->
        <nav class="bg-secondary bg-opacity-25 p-3 vh-100 d-flex flex-column"
            style="min-width: 250px; border-right: 1px solid rgba(255,255,255,0.1);">

            <!-- Seção Home -->
            
            <!-- Seção Admin -->
            <div class="text-center ">
                <h4 class="text-white">
                    <a class="nav-link text-white" th:href="@{/admin}">
                        <i class="bi bi-gear"></i> Admin
                    </a>
                </h4>
            </div>
            <hr class="border-light opacity-50 ">
            
            <!-- Menu principal -->
            <ul class="nav flex-column">
                <li class="nav-item mb-1">
                    <a th:href="@{/admin/series}" class="nav-link text-light">
                        <i class="bi bi-tv"></i> Séries
                    </a>
                </li>
                <li class="nav-item mb-1">
                    <a th:href="@{/admin/episodios}" class="nav-link text-light">
                        <i class="bi bi-collection-play"></i> Episódios
                    </a>
                </li>
                <li class="nav-item mb-1">
                    <a th:href="@{/admin/pessoas}" class="nav-link text-light">
                        <i class="bi bi-person"></i> Pessoas
                    </a>
                </li>
                <li class="nav-item mb-1">
                    <a th:href="@{/admin/personagens}" class="nav-link text-light">
                        <i class="bi bi-mask"></i> Personagens
                    </a>
                </li>
                <li class="nav-item mb-1">
                    <a th:href="@{/admin/participacoes}" class="nav-link text-light">
                        <i class="bi bi-link-45deg"></i> Participações
                    </a>
                </li>
                <li class="nav-item mb-1">
                    <a th:href="@{/}" class="nav-link text-light">
                        <i class="bi bi-house-door"></i> Home
                    </a>
                </li>
            </ul>

           
        </nav>

        <!-- Conteúdo -->
        <main class="flex-grow-1 p-4" layout:fragment="conteudo">
            <!-- Aqui entram as telas -->
        </main>
    </div>
</body>

</html>